.controller_images{
  height: 50px;
  width: 50px;
  margin-top: 65px;
}

.tasks{
  background-image: image_url("task.png");
  background-size: 200px;
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
  display: inline-block;
}

.my-alert{
  text-align: center;
}